/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	
	

}

/* Extra Small Devices, Phones */


/* Custom, iPhone Retina */
@media screen and (min-width : 320px) and (max-width: 479px){
	#separator,#like_you,#banner,#partners,
	#comment .row .window_comment_wrapp .window_comment{height: auto;}
	#banner .row .banner__text_wrapp,#network .section__name,
	#banner .row .banner__text_wrapp .__banner_text_s,#partners .__section_descr,
	#comment .__section_descr,#separator .__sep_descr,#separator .__descr_f,
	#separator .__phone_f, #separator .__phone_s{line-height: 35px;}
	#conditions,#money,#money .items__wrapp,#conditions .items__wrapp{padding: 20px 0 0 0;}
	#money .items__wrapp .item,#content_info .content_info_wrap .content_info_separ .nav_mnu_wrapp .nav_menu .yslugi,
	#conditions .items__wrapp .item,#network p,#network .info,#network .info .t3_descr span,
	#banner .row .banner__text_wrapp .__banner_text_f, 
	#banner .row .banner__text_wrapp .__banner_text_s{width: 100%;}
	.container{
		width: 98%;
		margin: 0 1%;
	}
	.top_separator{margin-bottom: 10px;}
	#header .header_wrapp,#comment .row,
	#content_info .content_info_wrap .nav_mnu_wrapp .nav_menu
	{flex-direction: column;}
	#header .header_wrapp .header_content {
		margin-top: 10px;
		text-align: center;
		font-size: 1.5em;
		line-height: 25px;
	}
	.header_content span{font-size: 24px;}
	.contact{margin: 3% 0 0 0%;}
	#content_info{margin-top: 10px;}
	#content_info .content_info_wrap .nav_mnu_wrapp .nav_menu{
		align-items: center;
		justify-content: center;
	}
	#content_info .content_info_wrap .slaider .row{flex-basis: 90%;}
	#content_info .content_info_wrap .slaider .row h1{font-size: 1.69em;}
	#content_info .content_info_wrap .slaider .slaider_foto{display: none;}
	#content_info .content_info_wrap .content_info_separ 
	#money .items__wrapp,#conditions .items__wrapp,#factoring .row,
	footer .row{flex-wrap: wrap;}
	#money .items__wrapp{flex-direction: column;}
	#money .items__wrapp .item{	margin: 0;	}
	.section__descr__blue, .section__descr__white{
		font-size: 1.525em;
		line-height: 25px;
		letter-spacing: 0;
	}
	#conditions{background: url(../img/cond_bg.jpg)top center repeat;}
	#conditions .it__name{margin-top: 10px;}
	#conditions .items__wrapp .item{margin: 10px 0 20px 0;	}
	#network{
		padding: 20px 0;
		background: url(../img/network_bg.jpg)top center repeat;
	}
	#network .section__name{font-size: 1.65em;}
	#network .info{
		padding: 0;
		margin: 20px 0 0 0;
	}
	#network .info .t3_descr{
		margin-left: 10px;
		width: 55%;
	}
	#network .info .t3_descr span{
		display: block;
		font-size: 0.79em;
	}
	#banner .row{padding-top: 10px;}
	#banner .row .banner__text_wrapp{font-size: 1.37em;}
	{width: 100%;}
	#like_you{		background: url(../img/like_you_bg.jpg)top center repeat;}
	#like_you .row .window_info{
		width: 85%;
		padding: 20px;
		margin: 20px 0;
	}
	#like_you .row .window_info .window_info_wrapp{	margin: 20px 0 0 0;	}
	#like_you .row .window_info .window_info_wrapp .author{
		text-align: right;
		font-size: 0.9em;
	}
	#like_you .row .window_info .box{display: none;}
	#partners .row{padding: 0 0 30px 0;}
	#partners .__section_descr,#comment .__section_descr{
		padding: 20px 0;
		font-size: 1.35em;
	}
	#comment .__section_descr{	font-size: 1.55em;	}
	#comment .row .window_comment_wrapp{width: 95%;}
	#comment .row .window_comment_wrapp .window_comment{
		padding: 15px 0 15px 15px;
		margin-bottom: 0;
	}
	#comment .row .window_comment_wrapp .manager{margin: 20px 0;}
	#separator .__sep_descr,#separator .__descr_f{font-size: 1.27em;}
	#separator .__phone_f, #separator .__phone_s{font-size: 1.35em;}
	#factoring .section_descr{
		font-size: 1.85em;
		padding: 20px 0;
	}
	#factoring .row .factoring_item{
		flex-basis: 87%;
		justify-content: space-around;
	}
	#factoring .row .factoring_item .m_descr{margin-top: 20px;}
	#forma .row .photo{display: none;}
	#forma .row .info_contact{
		margin-top: 20px;
		width: 90%;
	}
	#forma .row .info_contact .__info_question{line-height: 40px;}
	#forma .row .number,#forma .row button.btn{
		width: 100%;
		margin: 20px 0;
	}
	#forma .row button.btn{	margin: 0 0 20px 0;	}
	footer .row{justify-content: center;}
	footer .row .logo{margin-right: 10px;}
	footer .row .f_num_wrapp .__map_text{font-size: 0.82em;}
	footer .row .social{
		display: flex;
		justify-content: space-around;
		width: 90%;
		margin-top: 10px;
	}
	footer .row .social span{padding: 0;}
}

/*==========  Mobile First Method  ==========*/
@media screen and (min-width : 480px) and (max-width: 639px){
	#header .header_wrapp .contact,#network p,#network .info,
	#network .info .t3_descr span,	#banner .row .banner__text_wrapp .__banner_text_f, 
	#banner .row .banner__text_wrapp .__banner_text_s{width: 100%;}
	#header .header_wrapp .contact,footer .row .social,
	#forma .row .info_contact form{display: flex;}
	#money,#money .items__wrapp,#conditions{padding: 20px 0 0 0;}
	#network .section__name,#content_info .content_info_wrap .slaider .row h1,
	#banner .row .banner__text_wrapp,#partners .__section_descr,
	#comment .__section_descr{line-height: 35px;}
	.container{
		width: 98%;
		margin: 0 1%;
	}
	.top_separator{margin-bottom: 10px;}
	#header .header_wrapp .logo_wrapp{width: 31%;}
	#header .header_wrapp .header_content {
		width: 65%;
		line-height: 20px;
	}
	.header_content span{font-size: 24px;}
	#header .header_wrapp .contact{
		margin: 1% 0 0 0;
		justify-content: space-around;
	}
	#header .header_wrapp .contact .__contact_phone_f,
	#header .header_wrapp .contact .__contact_phone_s{font-size: 1.55em;}
	#header .header_wrapp .contact .phone, .mail{margin-right: 5px;}
	#content_info{margin-top: 0px;}
	#content_info .content_info_wrap .content_info_separ .nav_mnu_wrapp .nav_menu{
		flex-wrap: nowrap;
		align-items: center;
	}
	#content_info .content_info_wrap .slaider .row{flex-basis: 90%;}
	#content_info .content_info_wrap .slaider .row h1{font-size: 1.69em;	}
	#content_info .content_info_wrap .slaider .slaider_foto{display: none;}
	#content_info .content_info_wrap .content_info_separ 
	.nav_mnu_wrapp .nav_menu .yslugi{font-size: 0.74em;	}
	#money .items__wrapp{flex-wrap: wrap;}
	#money .items__wrapp .item{
		margin-bottom: 20px;
		text-align: center;
	}
	.section__descr__blue, .section__descr__white{
		font-size: 1.525em;
		line-height: 25px;
		letter-spacing: 0;
	}
	#conditions{background: url(../img/cond_bg.jpg)top center repeat;}
	#conditions .it__name{margin-top: 10px;}
	#network{
		padding: 20px 0;
		background: url(../img/network_bg.jpg)top center repeat;
	}
	#network .section__name{font-size: 1.65em;	}
	#network .info{
		padding: 0;
		margin: 20px 0 0 0;
	}
	#network .info .t3_descr{
		margin-left: 30px;
		width: 55%;
	}
	#network .info .t3_descr span{
		display: block;
		font-size: 0.79em;
	}
	#banner,#partners{height: auto;	}
	#banner{padding-bottom: 10px;}
	#banner .row{padding-top: 10px;}
	#banner .row .banner__text_wrapp{font-size: 1.37em;}
	#banner .row .banner__text_wrapp .__banner_text_s{line-height: 35px;	}
	#like_you{
		background: url(../img/like_you_bg.jpg)top center repeat;
		height: auto;
	}
	#like_you .row .window_info{
		width: 85%;
		padding: 20px;
		margin: 20px 0;
	}
	#like_you .row .window_info .window_info_wrapp{	margin: 20px 0 0 0;	}
	#like_you .row .window_info .window_info_wrapp .author{
		text-align: right;
		font-size: 0.9em;
	}
	#like_you .row .window_info .box{display: none;}
/* /////// !!!!!!!  Повторяющийся код      !!!!!! /////////////*/
	#partners .row{padding: 0 0 30px 0;}
/* /////// !!!!!!!  Повторяющийся код      !!!!!! /////////////*/
	#partners .__section_descr,#comment .__section_descr{
		padding: 20px 0;
		font-size: 1.35em;
	}
	#comment .__section_descr{	font-size: 1.55em;	}
	#comment .row{flex-direction: column;}
	#comment .row .window_comment_wrapp{width: 98.5%;}
	#comment .row .window_comment_wrapp .window_comment{
		height: auto;
		margin: 0;
	}
	#comment .row .window_comment_wrapp .manager{
		text-align: center;
		margin: 20px 0;
	}
	#separator{height: auto;}
	#separator .__sep_descr,#separator .__descr_f{
		font-size: 1.27em;
		line-height: 45px;
	}
	#separator .__phone_f, #separator .__phone_s{
		font-size: 1.75em;
		line-height: 45px;
	}
	#factoring .section_descr{
		font-size: 2em;
		padding: 20px 0;
	}
	#factoring .row{flex-wrap: wrap;}
	#factoring .row .factoring_item{
		flex-basis: 100%;
		justify-content: space-between;
	}
	#forma .row .photo{display: none;}
	#forma .row .info_contact{
		margin-top: 10px;
		width: 95%;
	}
	#forma .row .info_contact form{
		display: flex;
		height: 91px;
		align-items: center;
		justify-content: space-between;
	}
	#forma .row .info_contact .__info_question{line-height: 40px;}
	#forma .row .number,#forma .row button.btn{
		width: 48%;
		margin: 0;
		line-height: 20px;
	}
	footer .row{flex-wrap: wrap;}
	footer .row .logo{margin-right: 10px;}
	footer .row .social{
		display: flex;
		justify-content: space-around;
		width: 90%;
		margin-top: 10px;
	}
	footer .row .social span{padding: 0;}
}

/* Extra Small Devices, Phones */

@media screen and (min-width : 640px) and (max-width: 767px){
	#header .header_wrapp,#header .header_wrapp .contact{
		display: flex;
		justify-content: space-around;
	}
	#header .header_wrapp .contact,#network p,#network .info,
	#banner .row .banner__text_wrapp .__banner_text_f,
	#banner .row .banner__text_wrapp .__banner_text_s,
	#banner .row .banner__text_wrapp{width: 100%;}
	.container{
		width: 98%;
		margin: 0 1%;
	}
	#like_you,#partners{height: auto;	}
	.top_separator{margin-bottom: 15px;}
	#header .header_wrapp{
		flex-wrap: wrap;
		align-items: center;
	}
	#content_info .content_info_wrap .slaider .slaider_foto,
	#content_info .content_info_wrap .row .slaider_foto{display: none;}
	#content_info .content_info_wrap .slaider .row,
	#content_info .content_info_wrap .row .row{flex-basis: 95%;}
/* /////// !!!!!!!  Повторяющийся код      !!!!!! /////////////*/
	#header .header_wrapp .contact{margin: 1% 0 0 0;}
/* /////// !!!!!!!  Повторяющийся код      !!!!!! /////////////*/
	#money,#banner .row{padding: 10px 0 0 0;}
	#money .section__descr__blue{line-height: 35px;	}
	#money .items__wrapp{padding: 20px 0;}
/*       . .....
	#conditions .items__wrapp .item .it__descr:first-child{line-height: 35px;}
*/	
	#network{padding: 20px 0 0 0;}
	#network .info{padding: 25px 0;}
	#banner .row .banner__text_wrapp .__banner_text_f,
	#banner .row .banner__text_wrapp .__banner_text_s,
	#banner .row .banner__text_wrapp{font-size: 1.55em;	}
	#like_you{ padding-bottom: 50px;	}
	#like_you .row .window_info{
		margin-top: 20px;
		width: 85%;
	}
	#like_you .row .window_info .box{
		top: 6rem;
		right: 0.5rem;
	}
	/* /////// !!!!!!!  Повторяющийся код      !!!!!! /////////////*/
	#partners .row{padding: 0 0 30px 0;}
/* /////// !!!!!!!  Повторяющийся код      !!!!!! /////////////*/
	#partners .__section_descr,#comment .__section_descr,
	#comment .row .window_comment_wrapp .window_comment{
		height: auto;
		padding: 15px 0 15px 15px;
		flex-basis: 100%;
		margin: 0;
	}
	#comment .row .window_comment_wrapp .manager{margin: 20px 0;}
	#factoring .section_descr{
		padding: 20px 0;
		line-height: 35px;
	}
	#separator .__sep_descr, #separator .__descr_f,#separator .__phone_f,
	#separator .__phone_s{line-height: 45px;}
	
	#forma .row{justify-content: space-between;}
	#forma .row .photo{margin: 15px 0 0 0;}
	#forma .row .info_contact{width: 55%;}
	#forma .row .number,#forma .row button.btn{width: 94%;}
	
}
@media screen and (min-width : 666px) and (max-width: 767px) {
	#like_you .row .window_info .box{top: 4.5rem;	}

}
/* Small Devices, Tablets */
@media screen and (min-width : 768px) and (max-width: 991px) {
	.container{
		width: 98%;
		margin: 0 1%;
	}
	#header .header_wrapp{justify-content: space-around;}
	#header .header_wrapp .contact{
		display: flex;
		width: 85%;
		justify-content: space-between;
		margin-top: 10px;
	}
	#content_info{margin-top: 10px;}
	#content_info .content_info_wrap .slaider .row{margin-left: 1%;}
	#content_info .content_info_wrap .slaider .row h1{font-size: 1.75em;}
	#content_info .content_info_wrap .slaider .slaider_foto{flex-basis: 100%;}
	#banner{
		height: auto;
		padding-bottom: 10px;
	}
	#banner .row{padding: 10px 0 0 0;}
	#like_you .row .window_info{width: 81%}
	#like_you .row .window_info .box{right: 1rem;}
	#comment .row .window_comment_wrapp .window_comment{
		flex-basis: 100%;
		margin: 0;
	}
	#comment .row .window_comment_wrapp .manager{margin: 20px 0;}
	#network p{width: 95%;}
	#network .info{width: 82%;}
	#forma{background-position: 0px 0px;}
	#forma .row .photo{margin-left: 6.633%;}

}

/* Medium Devices, Desktops */


 /* Large Devices, Wide Screens */
@media screen  and (min-width : 1200px) and (max-width: 1400px){
	.window_info{
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}
